{% extends 'base.html' %}
{% load static %}

{% block content %}
    <article class="row bg-gray">
        <section class="col-md-4">
            <img src="{% static 'img/avatar.png' %}" id="avatar" alt="Foto de perfil">
        </section>
        <section class="col-md-8 my-auto">
            <h2>I am <strong>Ryan Ray</strong></h2>
            <h4>I am <strong>Python Fullstack Developer</strong></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, iure facilis! Quo quam voluptates autem facilis error hic accusantium vero obcaecati ratione consequuntur! Est reprehenderit quasi esse fugit obcaecati, odit earum facere, inventore cum distinctio aliquid optio impedit quos sed aut velit laboriosam debitis hic perferendis nostrum nam aperiam itaque qui! Cum fugit quo quas dolor deleniti aliquid reiciendis porro, quos quis consequatur suscipit nobis veritatis atque blanditiis aliquam assumenda odit sunt est ratione. Quos quo libero dignissimos nulla, provident quae aut distinctio impedit laboriosam officiis odit tempora culpa alias tenetur, rerum delectus atque harum veniam a ipsum maiores sed?</p>
            <a href="#" class="btn btn-secondary btn-lg rounded-0 my-3">Download CV</a>
        </section>
    </article>
    
{% endblock content %}
