{% extends 'base.html' %}

{% block content %}

    <div class="row my-4 text-center">

        <div class="col-md-4 p-6">
            <article class="card bg-gray">
                <section class="card-body ">

                    <img src="{{publicacion.image.url}}" alt="{{publicacion.title}}" class="card-img-top" >

                    <h2> {{publicacion.title|upper}}</h2>
                    <h6>{{publicacion.description}}</h6>
            
                    <a href="{% url 'publicaciones' %}" class="btn btn-secondary">Volver a las publicaciones</a>
            
                </section>
            </article>
        </div>
    </div>

{% endblock content %}

