{% extends 'base.html' %}

{% block content %}

<h1 class="md-2">PROYECTOS</h1>

{% for project in projects %}

    <div class="py-3">

        <div class="card card-body bg-gray card-project">
            <div class="row">

                <div class="col-3">
                    <img class="img-fluid" src="{{project.image.url}}" alt="{{project.title}}">
                </div>

                <div class="col-9">
                    <h3>{{project.title}}</h3>
                </div>

                <div class="grid text-center" style="--bs-rows: 1; --bs-columns: 1;">
                    <div class="g-start-1" style="grid-row: 1">
                        <a href="/proyecto/{{project.id}}" class="btn btn-secondary">Ir al proyecto</a>
                </div>

            </div>
        </div>

    </div>

{% endfor %}

{% endblock %}